:host{
    .actions{
        position: fixed;
        text-align: center;
        right: 0px;
        width: 100%;
        z-index: 100;
    }

    .content-video{        
        width: 80vw !important;
    }
}