<div [formGroup]="catalogForm" *ngIf="catalogForm">
    <mat-form-field  appearance="outline" floatLabel="always" fxFlex>
        <mat-label>{{label}}</mat-label>
        <input
            matInput 
            [placeholder]="label"
            [name]="controlName"
            [formControlName]="controlName"
            [required] ="required"
            [maxlength]="maxlength"
            [type]="type"
            >

            <mat-error *ngIf="required">
                Campo requerido
            </mat-error>
    </mat-form-field>
</div>